# Database Connection String for Neon / PostgreSQL
DATABASE_URL="postgresql://user:password@ep-sample-123456.us-east-2.aws.neon.tech/cinemayur?sslmode=require"

# Session JWT Secret
JWT_SECRET="cinemayur-secret-key-2026-luxury-photography"

# Next Public Site URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"